header {
  width: 930px;
  height: 104px;
  margin: 4px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.title {
  color: #14212b;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.date {
  color: #5f6e76;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.auto-rolling-news-bar {
  display: flex;
  margin: 0 auto;
  width: 930px;
  height: 49px;
  justify-content: space-between;
}

.auto-rolling-news {
  display: flex;
  width: 461px;
  height: 49px;
  background-color: #f5f7f9;
  border: 1px solid #d2dae0;
  overflow: hidden;
  flex-direction: column;
}

.news-1-contents {
  position: relative;
  list-style-type: none;
  padding-left: 16px;
}

.news-2-contents {
  position: relative;
  list-style-type: none;
  padding-left: 16px;
}

li {
  height: 51px;
}

.press {
  color: #14212b;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.headline {
  color: #5f6e76;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 16px;
}

.underline {
  text-decoration: underline;
}
