header {
  width: 930px;
  height: 104px;
  margin: 4px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.title {
  color: #14212b;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.date {
  color: #5f6e76;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.auto-rolling-news-bar {
  display: flex;
  margin: 0 auto;
  width: 930px;
  height: 49px;
  justify-content: space-between;
}

.auto-rolling-news {
  display: flex;
  width: 461px;
  height: 49px;
  background-color: #f5f7f9;
  border: 1px solid #d2dae0;
  overflow: hidden;
  flex-direction: column;
}

.auto-rolling-news ul {
  position: relative;
  list-style: none;
  padding-left: 16px;
  height: 49px;
  overflow: hidden;
}

.auto-rolling-news li {
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  height: 51px;
  transition: top 0.5s ease;
}

.auto-rolling-news li.current {
  top: 0;
}

.auto-rolling-news li.prev {
  top: 49px;
}

.auto-rolling-news li.next {
  top: -49px;
}

.press {
  color: #14212b;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 16px;
}

.headline {
  color: #5f6e76;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 16px;
}

.underline {
  text-decoration: underline;
}

#tab-and-viewer {
  width: 930px;
  height: 24px;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tab-btn {
  width: 216px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}

.active-tab {
  color: #14212b;
  font-size: 16px;
  font-weight: 700;
}

.inactive-tab {
  color: #879298;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

#viewer-btn {
  width: 56px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
