header {
  width: 1307px;
  height: 104px;
  margin: 4% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 136px;
  height: 29px;
}

.date {
  color: var(--text-text-default, #5f6e76);

  /* display-medium16 */
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}
